@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --card-foreground: 14 27% 8%; /* #1B1210 - Marrom Café */
--popover: 0 0% 98%; /* #FBFBFB - Branco Gelo */
--popover-foreground: 0 0% 20%; /* #333333 - Cinza Escuro */
--primary: 348 95% 21%; /* #6D031C - Vinho Escuro */
--primary-foreground: 0 0% 98%; /* #FBFBFB - Branco Gelo */
--secondary: 10 4% 28%; /* #4C4544 - Cinza Médio */
--secondary-foreground: 0 0% 20%; /* #333333 - Cinza Escuro */
--muted: 0 0% 96.1%; /* #F5F5F5 - Cinza Muito Claro */
--muted-foreground: 0 0% 45.1%; /* #737373 - Cinza Médio */
--accent: 0 0% 96.1%; /* #F5F5F5 - Cinza Muito Claro */
--accent-foreground: 0 0% 20%; /* #333333 - Cinza Escuro */
--destructive: 0 87% 18%; /* #550707 - Vermelho Escuro */
--destructive-foreground: 0 0% 98%; /* #FBFBFB - Branco Gelo */
--border: 198 33% 94%; /* #D9E6EB - Azul Claro Acinzentado */
--input: 198 33% 94%; /* #D9E6EB - Azul Claro Acinzentado */
--ring: 0 0% 20%; /* #333333 - Cinza Escuro */
--chart-1: 12 76% 61%; /* #E36F3D - Laranja Queimado */
--chart-2: 173 58% 39%; /* #179E82 - Verde Azulado */
--chart-3: 197 37% 24%; /* #1F425C - Azul Petróleo */
--chart-4: 43 74% 66%; /* #E6C849 - Amarelo Dourado */
--chart-5: 27 87% 67%; /* #F7A541 - Laranja Suave */
--radius: 0.5rem; /* Sem alteração */

    
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}